<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /yiqicms-v18final/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^article\/(.+)\.html$ article.php?name=$1 [L]
RewriteRule ^product\/(.+)\.html$ product.php?name=$1 [L]
RewriteRule ^category\/([^/_]+)[/]?$ category.php?name=$1 [L]
RewriteRule ^category\/([^/]+)_([0-9]+)[/]?$ category.php?name=$1&p=$2 [L]
RewriteRule ^comment.html$ comment.php [L]
RewriteRule ^sitemap.xml$ sitemap.php [L]
</IfModule>